.user {
    width: 18em;
    height: 42em;
    text-align: center;
    vertical-align: middle;
    margin: auto;
    background-color: #1f2833;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.header {
    color: white;
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    right:0;
    left:0;
    position: absolute;
    font-size: 20px;
}

.testest {
    position: absolute;
    bottom: 0;
    color: white;
    text-decoration: none;
}

a {
    color: white;
    text-decoration: none; /* no underline */
  }

.positive {
    color: green;
    display: inline-block;
}

.negative {
    color: red;
    display: inline-block;
}

.div1 { 
    grid-area: 1 / 1 / 3 / 3; 
    width: 10em;
    position: absolute;
    margin-left: 2em;
    margin-top: 7em;
}
.div2 { 
    grid-area: 1 / 3 / 2 / 4; 
    position: absolute;
    margin-left: 10em;
    margin-top: 5em;
}
.div3 { 
    grid-area: 2 / 3 / 3 / 4; 
    position: absolute;
    margin-left: 10em;
    margin-top: 9em;
}

.div4 {
    padding: 10px;
    margin-top: 10em;
    margin-left: 20px;
    white-space: nowrap;
    grid-area: 3 / 1 / 4 / 2; 
}

.clicked {
    background-color: lightgrey;
}

.unclicked {
    background-color: #fff1e6;
}

.div5 { 
    padding: 10px;
    margin-top: 10em;
    margin-left: 8px;
    grid-area: 3 / 2 / 4 / 3; 
}

.div6 {
    margin-left: 8px;
    padding: 10px;
    margin-top: 10em;
    grid-area: 3 / 3 / 4 / 4;
}

::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

.buttons {
    margin-top: 10px;
    display: flex;
    margin-bottom: 5px;
}

.div7 {
    overflow-y: scroll;
    right: -17px;
    margin-left: 1em;
    width: 16em;
    height: 28em;
    background-color: #fff1e6;
    grid-area: 4 / 1 / 5 / 4;
    margin-bottom: 15px;
    border-radius: 5px;
}

.button {
    font-size: 15px;
    padding: 5px;
}
