:root {
    --dg: #1f2833;
    --g: #c5c6c7;
    --lb: #66fcf1;
    --db: #45a29e;
}

.inventoryInd {
    color: white;
    width: 35%;
    display:block;    
    padding: 15px 15px 10px 15px;
    margin: 10px;
}

.inventoryCont {
    color: white;
    left: 0;
    right: 0;
    top: 20%;
    font-size: 18px;
}

.linebreak {
    height: 1px;
    margin: 20px;
    background-image: linear-gradient(to right, var(--db), var(--lb));
    border: #66fcf1;
}    

.setAmount {
    text-align: center !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
    right: 0 !important;
    left: 0 !important;
    margin-top: 10px !important;
    width: 40% !important;
}


